.btn_item {
  outline: none;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

  &.active,
  &:hover {
    box-shadow: 0 0 0 4px rgb(99, 39, 254);
  }
}

.btn_white {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.btn_purple {
  background-color: $purple;
  color: #fff;
  border-radius: 5px;
  border: 2px solid $darkGray;
}

.cont_chosen {
  ul {
    padding: 12px;
    background-color: $gray;
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid $darkGray;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .item {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    img {
      width: 18px;
      height: 33px;
    }

    .product_name {
      flex: 1;
      font-size: 9px;
    }

    .quantity {
      min-width: 30px;
      min-height: 30px;
      border: 1px solid $darkGray;
      border-radius: 5px;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
    }
  }
}
