.btn_select {
  margin: 0;
  outline: none;
  background-color: #fff;
  border-radius: 10px;
  border: #eae8fe 3px solid;
}

.btn_select.active {
  border: #6327fe 3px solid;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #eae8fe;
}

#app .header_logo {
  width: 30%;
  margin-bottom: 45px;
}

#app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

#app main section {
  background-color: #fff;
  padding: 31px 27px;
}

#app main section .list_product {
  height: 295px;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

#app main section .list_product button {
  padding: 10px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app main section .list_product button img {
  width: 36px;
  height: 65px;
}

#app main section .list_product button .product_name {
  font-size: 9px;
}

#app main section .list_product button .price {
  background-color: #6327fe;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fff;
  font-size: 12px;
}
