@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
.btn_item {
  outline: none;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.btn_item.active {
  -webkit-box-shadow: 0 0 0 4px #6327fe;
          box-shadow: 0 0 0 4px #6327fe;
}

.btn_white {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.btn_purple {
  background-color: #6327fe;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #bdbdbd;
}

.cont_chosen {
  padding: 12px;
  background-color: #eae8fe;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.cont_chosen .item {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont_chosen .item img {
  width: 18px;
  height: 33px;
}

.cont_chosen .item .product_name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 9px;
}

.cont_chosen .item .quantity {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}

#app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #eae8fe;
}

#app * {
  font-family: "Noto Sans KR", sans-serif;
}

#app button {
  cursor: pointer;
}

#app .header_logo {
  width: 386px;
  height: 180px;
  margin-bottom: 45px;
}

#app .header_logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

#app main #cont_selection,
#app main #cont_order {
  width: 360px;
}

#app main #cont_selection {
  background-color: #fff;
  padding: 31px 27px;
}

#app main #cont_selection .list_product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

#app main #cont_selection .list_product button {
  width: 100%;
  padding: 10px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app main #cont_selection .list_product button img {
  width: 36px;
  height: 65px;
}

#app main #cont_selection .list_product button .product_name {
  font-size: 9px;
}

#app main #cont_selection .list_product button .price {
  width: 60%;
  background-color: #6327fe;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fff;
  font-size: 12px;
}

#app main .cont_bottom {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 12px;
}

#app main .cont_bottom .balance {
  padding: 10px;
  background-color: #eae8fe;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app main .cont_bottom input {
  padding: 10px 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

#app main .cont_bottom input::-webkit-input-placeholder {
  color: #bdbdbd;
}

#app main .cont_bottom input:-ms-input-placeholder {
  color: #bdbdbd;
}

#app main .cont_bottom input::-ms-input-placeholder {
  color: #bdbdbd;
}

#app main .cont_bottom input::placeholder {
  color: #bdbdbd;
}

#app main #cont_order {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app main #cont_order .budget {
  margin: 9px 27px;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #eae8fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

#app main #cont_order .budget > span:last-child {
  font-weight: bold;
}

#app main #cont_order .cont_get {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 20px solid #eae8fe;
  padding: 25px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app main #cont_order .cont_get .title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#app main #cont_order .cont_get ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 13px 0 6px 0;
}

#app main #cont_order .cont_get .total_price {
  font-size: 12px;
  text-align: right;
}
