 /* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* variables */
:root {
  --bg: #F2E9D8;
  --orange: #D97652;
  --navy: #263140;
  --snsOrange: #F29D52;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

button {
  border: none;
  cursor: pointer;
}

.btn-org {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 30px;
  color: #fff;
  background-color: var(--orange);
  border-radius: 40px;
}

header {
  background-color: var(--bg);
}
.cont-header {
  padding: 0 320px;
  background-color: var(--bg);
  overflow: hidden;
}

.cont-header .btn-menu {
  display: none;
}

.cont-header .cont-topbar {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-header .cont-topbar .img-header-logo {
  width: 130px;
  height: 40px;
}
.cont-header .cont-topbar .cont-nav {
  display: flex;
  align-items: center;
}
.cont-header .cont-topbar .cont-nav a {
  padding: 15px 15px;
}
.cont-header .cont-topbar .cont-nav a:hover {
  color: #fff;
  background-color: var(--orange);
  border-radius: 40px;
}
.cont-header .cont-article {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
}
.cont-header article .txt-main {
  width: 737px;
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}
.cont-header article .txt-sub {
  width: 439px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 55px;
}
.cont-header article::after {
  position: absolute;
  content: '';
  display: block;
  background-image: url(./images/cat_header.png);
  background-size: 415px 890px;
  width: 415px;
  height: 890px;
  bottom: -124px;
  right: 0;
}
.cont-main {
  padding: 0 320px;
}
.cont-main .cont-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}
.cont-main .cont-content1 img {
  width: 660px;
  height: 390px;
}
.cont-main .cont-content1 .txt-grp {
  width: 510px;
}
.cont-main .cont-content1 .txt-main {
  width: 100%;
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}
.cont-main .cont-content1 .txt-sub {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
.cont-main .cont-content2 {
  text-align: center;
  margin: 88px 0;
}
.cont-main .cont-content2 .txt-main {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  color: var(--orange);
  margin-bottom: 40px;
}
.cont-main .cont-content2 .txt-sub {
  width: 739px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
strong {
  color: var(--orange);
}
.cont-main .cont-content3 {
  margin: 90px 0;
}
.cont-main .cont-content3 ul {
  display: flex;
  justify-content: space-between;
}
.cont-main .cont-content3 img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.cont-main .cont-content4 {
  margin: 90px auto;
  width: 938px;
  display: flex;
  justify-content: space-between;
}
.cont-main .cont-content4 p {
  width: 739px;
  font-size: 16px;
  line-height: 20px;
}
.cont-main .cont-content4 button {
  display: block;
}
.cont-main .cont-sub {
  display: flex;
  align-items: center;
  background-color: var(--navy);
  border-radius: 30px;
  padding: 50px 60px;
  position: relative;
  z-index: 50;
}
.cont-main .cont-sub .txt-grp {
  color: #fff;
  width: 50%;
}
.cont-main .cont-sub .txt-main {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 18px;
}
.cont-main .cont-sub .txt-sub {
  font-size: 14px;
  line-height: 18px;
}

.cont-main .cont-sub form {
  position: relative;
}

.cont-main .cont-sub .inp-email {
  box-sizing: border-box;
  position:relative;
  width: 530px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 60px;
  padding: 18px 68px;
}

.cont-main .cont-sub form::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/email.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;  
  margin-left: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.cont-main .cont-sub .btn-sub {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  position: relative;
}

footer::before,
footer::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 340px;
  top: -100px;
  left: 0;
  z-index: 10;
}

footer::before {
  background-image: url(./images/cat_footer.png);
  background-position: center 37%;
  background-size: 100%;
  background-repeat: no-repeat;
}

footer::after {
  background-color: rgb(242, 233, 216, 0.6);
}

.cont-footer {
  padding: 291px 320px 0 320px; 
  margin-bottom: 45px;
  z-index: 30;
}

.cont-footer .cont-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-footer .cont-left .img-footer-logo {
  width: 226px;
  height: 70px;
}
.cont-footer .cont-left ul {
  display: flex;
}
.cont-footer .cont-left ul li {
  width: 42px;
  height: 42px;
  background-color: var(--snsOrange);
  border-radius: 50%;
  margin: 0 10px;
}

.cont-footer .cont-left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-footer .cont-left ul li a img{
  width: 24px;
  height: 24px;
}


.btn-move-top {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;;
  background-color: rgba(255, 255, 255, .8);
  right: 24px;
  bottom: 100px;
}

.cont-footer .cont-nav {
  display: none;
}

.btn-move-top:hover .img{
  background-image: url(./images/arrow_up_hover.png);
}

.btn-move-top .img{
  display: inline-block;
  width: 20px;
  height: 13px;
  background-image: url(./images/arrow_up.png);
  background-size: 20px 13px;
}

@media screen and (max-width: 391px){
  .btn-org {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 24px;
  }

  .cont-header {
    padding: 0 20px;
  }

  .cont-header .btn-menu {
    display: block;
    background-color: transparent;
    padding: 0;
  }
  .cont-header .cont-topbar {
    height: 76px;
  }
  .cont-header .cont-topbar .cont-nav{
    display: none;
  }
  .cont-header .cont-topbar .img-header-logo {
    width: 92px;
    height: 28px;
  }

  .cont-header .cont-article{
    padding-top: 40px;
    height: 718px;
    flex-direction: column;
    text-align: center;
  }

  .cont-header article .txt-main {
    width: 264px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .cont-header article .txt-sub {
    width: 280px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 41px;
  }

  .cont-header article::after {
    background-image: url(./images/cat_header.png);
    background-size: 197px 422px;
    width: 192px;
    height: 422px;
    bottom: -62px;
    right: 50%;
    transform: translateX(50%);
  }

  .cont-main {
    padding: 0 32px;
  }
  .cont-main .cont-content1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cont-main .cont-content1 img {
    width: 326px;
    height: 190px;
  }
  .cont-main .cont-content1 .txt-grp {
    width: 100%;
  }
  .cont-main .cont-content1 .txt-main {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .cont-main .cont-content1 .txt-sub {
    font-size: 14px;
    line-height: 18px;
  }

  .cont-main .cont-content2 {
    margin: 60px 0 0 0;
    text-align: center;
  }
  .cont-main .cont-content2 .txt-main {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .cont-main .cont-content2 .txt-sub {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .cont-main .cont-content3 {
    margin: 40px 0;
  }
  .cont-main .cont-content3 ul {
    justify-content: space-between;
    gap: 20px;
  }
  .cont-main .cont-content3 img {
    width: 260px;
    height: 260px;
    border-radius: 18px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .cont-main .cont-content4 {
    margin: 60px auto;
    width: 100%;
    flex-direction: column;
  }
  .cont-main .cont-content4 p {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .cont-main .cont-content4 button {
    display: block;
    width: 126px;
    margin: 0 calc(100% - 128px);
  }

  .cont-main .cont-sub {
    flex-direction: column;
    padding: 36px 32px 82px;
  }

  .cont-main .cont-sub .txt-grp {
    color: #fff;
    width: 100%;
  }
  .cont-main .cont-sub .txt-main {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .cont-main .cont-sub .txt-sub {
    margin-bottom: 30px;
  }
  .cont-main .cont-sub .inp-email {
    width: 262px;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 48px;
    clear: both;
  }
  .cont-main .cont-sub form {
    position: relative;
  }

  .cont-main .cont-sub form::after {
    top: 0;
    left: 0;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;  
    margin-left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cont-main .cont-sub .btn-sub {
    position: absolute;
    right: 0;
    transform: translateY(36px);
  }
  footer::before,
  footer::after {
    position: absolute;
    width: 100%;
    height: 240px;
    top: -72px;
  }

  footer::before {
    background-position: center 20%;
  }

  .cont-footer {
    padding: 200px 30px 0 20px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  
  .cont-footer .cont-left {
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cont-footer .cont-left .img-footer-logo {
    position: relative;
    width: 112px;
    height: 34px;
  }
  .cont-footer .cont-left ul {
    display: flex;
  }
  .cont-footer .cont-left ul li {
    margin: 0 16px 0 0;
    width: 32px;
    height: 32px;
  }
  
  .cont-footer .cont-left ul li a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cont-footer .cont-left ul li a img{
    width: 18px;
    height: 18px;
  }

  .cont-footer .cont-nav {
    display: block;
    text-align: right;
  }
  .cont-footer .cont-nav a{
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    padding-bottom: 16px;
  }

  .btn-move-top {
    display: none;
  }
}