 /* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* variables */
:root {
  --bg: #F2E9D8;
  --orange: #D97652;
  --navy: #263140;
  --snsOrange: #F29D52;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

button {
  border: none;
  cursor: pointer;
}

.btn-org {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 30px;
  color: #fff;
  background-color: var(--orange);
  border-radius: 40px;
}

header {
  background-color: var(--bg);
}
.cont-header {
  padding: 0 320px;
  background-color: var(--bg);
  overflow: hidden;
}

.cont-header .cont-topbar {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-header .cont-topbar .img-header-logo {
  width: 130px;
  height: 40px;
}
.cont-header .cont-topbar .cont-nav {
  display: flex;
  align-items: center;
}
.cont-header .cont-topbar .cont-nav a {
  padding: 15px 15px;
}
.cont-header .cont-topbar .cont-nav a:hover {
  color: #fff;
  background-color: var(--orange);
  border-radius: 40px;
}
.cont-header .cont-article {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
}
.cont-header article .txt-main {
  width: 737px;
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}
.cont-header article .txt-sub {
  width: 439px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}
.cont-header article::after {
  position: absolute;
  content: '';
  display: block;
  background-image: url(./images/cat_header.png);
  background-size: 415px 890px;
  width: 415px;
  height: 890px;
  bottom: -124px;
  right: 0;
}
.cont-main {
  padding: 0 320px;
}
.cont-main .cont-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}
.cont-main .cont-content1 img {
  width: 660px;
  height: 390px;
}
.cont-main .cont-content1 .txt-grp {
  width: 510px;
}
.cont-main .cont-content1 .txt-main {
  width: 100%;
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}
.cont-main .cont-content1 .txt-sub {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
.cont-main .cont-content2 {
  text-align: center;
  margin: 88px 0;
}
.cont-main .cont-content2 .txt-main {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  color: var(--orange);
  margin-bottom: 40px;
}
.cont-main .cont-content2 .txt-sub {
  width: 739px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
strong {
  color: var(--orange);
}
.cont-main .cont-content3 {
  margin: 90px 0;
}
.cont-main .cont-content3 ul {
  display: flex;
  justify-content: space-between;
}
.cont-main .cont-content3 img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
.cont-main .cont-content4 {
  margin: 90px auto;
  width: 938px;
  display: flex;
  justify-content: space-between;
}
.cont-main .cont-content4 p {
  width: 739px;
  font-size: 16px;
  line-height: 20px;
}
.cont-main .cont-content4 button {
  display: block;
}
.cont-main .cont-sub {
  display: flex;
  align-items: center;
  background-color: var(--navy);
  border-radius: 30px;
  padding: 50px 60px;
  position: relative;
  z-index: 50;
}
.cont-main .cont-sub .txt-grp {
  color: #fff;
  width: 50%;
}
.cont-main .cont-sub .txt-main {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  margin-bottom: 18px;
}
.cont-main .cont-sub .txt-sub {
  font-size: 14px;
  line-height: 18px;
}

.cont-main .cont-sub form {
  position: relative;
}

.cont-main .cont-sub .inp-email {
  box-sizing: border-box;
  position:relative;
  width: 530px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 60px;
  padding: 18px 68px;
}

.cont-main .cont-sub form::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/email.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;  
  margin-left: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.cont-main .cont-sub .btn-sub {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  position: relative;
}

footer::before,
footer::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 340px;
  top: -100px;
  left: 0;
  z-index: 10;
}

footer::before {
  background-image: url(./images/cat_footer.png);
  background-position: center 37%;
  background-size: 100%;
  background-repeat: no-repeat;
}

footer::after {
  background-color: rgb(242, 233, 216, 0.6);
}

.cont-footer {
  padding: 291px 320px 0 320px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  z-index: 30;
}

.cont-footer .img-footer-logo {
  width: 226px;
  height: 70px;
}
.cont-footer ul {
  display: flex;
}
.cont-footer li {
  width: 42px;
  height: 42px;
  background-color: var(--snsOrange);
  border-radius: 50%;
  margin: 0 10px;
}

.cont-footer ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-footer ul li a img{
  width: 24px;
  height: 24px;
}


.btn-move-top {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;;
  background-color: rgba(255, 255, 255, .8);
  right: 24px;
  bottom: 100px;
}

.btn-move-top:hover .img{
  background-image: url(./images/arrow_up_hover.png);
}

.btn-move-top .img{
  display: inline-block;
  width: 20px;
  height: 13px;
  background-image: url(./images/arrow_up.png);
  background-size: 20px 13px;
}

